.u-section-1 .u-sheet-1 {
  min-height: 650px;
}

.u-section-1 .u-group-1 {
  width: 933px;
  min-height: 460px;
  background-image: none;
  height: auto;
  margin: 73px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 0;
}

.u-section-1 .u-text-1 {
  margin: 0 60px;
}

.u-section-1 .u-form-1 {
  height: 244px;
  width: 465px;
  margin: 39px 433px 0 35px;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  margin: 30px 433px 0 60px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}
#Registrarse_btn{
  padding: 5px;
  background-color: rgb(0, 191, 255);
  border: none;
  
}
#Registrarse_btn:hover{
  cursor: pointer;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 255px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 280px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 75px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 25px;
    margin-right: 30px;
    margin-left: 45px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 30px;
  }
}